<?xml version="1.0"?>
<robot name="cirtesu" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Define a material with a texture -->
  <material name="cirtesu_material">
    <texture filename="$(find girona500_description)/meshes/cirtesu/tank_tex.png"/>
  </material>
  <material name="poster_material">
    <texture filename="$(find girona500_description)/meshes/cirtesu/poster_pool_small_tex.png"/>
  </material>

  <!-- Define the base link with visual and collision elements -->
  <link name="cirtesu_base_link">
    <!-- Visual element using vis.obj and the defined material -->
    <visual>
      <origin xyz="0 0 0" rpy="3.1416 0 0"/>
      <geometry>
        <mesh filename="package://girona500_description/meshes/cirtesu.dae" scale="1 1 1"/>
      </geometry>
      <material name="poster_material"/>
    </visual>
  </link>
  
  <!-- Define the rectangular link with visual element -->
  <link name="poster_rectangular_link">
    <visual>
      <origin xyz="0 0 0.2" rpy="0 0 0"/> <!-- Adjust origin as needed -->
      <geometry>
        <box size="3.5 7.5 0.1"/>
      </geometry>
      <material name="poster_material"/>
    </visual>
  </link>

  <!-- Define a joint to connect the rectangular link to the base link -->
  <joint name="poster_joint" type="fixed">
    <parent link="cirtesu_base_link"/>
    <child link="poster_link"/>
    <origin xyz="0 0 5" rpy="3.1416 0 0"/> <!-- Adjust position as needed -->
  </joint>
</robot>

