<?xml version="1.0"?>
<robot name="girona1000" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_namespace" default="girona500" />
  <xacro:arg name="bravo_namespace" default="$(arg robot_namespace)/bravo" />

  <!-- Include Girona500 -->
  <xacro:include filename="$(find girona500_description)/urdf/core.urdf.xacro" />

  <!-- Stereo -->
  <link name="$(arg robot_namespace)/xiroi/stereo_ch3/left_optical" />
  <joint name="$(arg robot_namespace)_origin_to_stereo_left_optical" type="fixed">
    <parent link="$(arg robot_namespace)/base_link" />
    <child link="$(arg robot_namespace)/xiroi/stereo_ch3/left_optical" />
    <origin rpy="0 0 ${pi/2}" xyz="0.2 -0.048 0.76" />
  </joint>

  <link name="$(arg robot_namespace)/xiroi/stereo_ch3/right_optical" />
  <joint name="$(arg robot_namespace)_origin_to_stereo_right_optical" type="fixed">
    <parent link="$(arg robot_namespace)/base_link" />
    <child link="$(arg robot_namespace)/xiroi/stereo_ch3/right_optical" />
    <origin rpy="0 0 ${pi/2}" xyz="0.2 0.048 0.76" />
  </joint>

  <!-- Include manipulators -->
  <xacro:include
    filename="$(find blueprintlab_reachbravo7_manipulator_description)/urdf/bravo7_macro.urdf.xacro" />
  <!-- Include end-effectors -->
  <xacro:include
    filename="$(find blueprintlab_reachbravo7_manipulator_description)/urdf/end_effectors/jaws_macro.urdf.xacro" />


  <!-- Add manipulators-->
  <xacro:reach_bravo7 prefix="$(arg bravo_namespace)" />

  <!-- Attach manipulator to base -->
  <joint name="girona1000_to_bravo" type="fixed">
    <parent link="$(arg robot_namespace)/base_link" />
    <child link="$(arg bravo_namespace)/base_link" />
    <origin rpy="${pi} 0.0 0.0" xyz="0.6 0.0 0.4" />
  </joint>

  <xacro:reach_bravo7_jaws prefix="$(arg bravo_namespace)" />
 
  <!-- Camera -->
  <link name="$(arg robot_namespace)/camera_front" />
  <joint name="$(arg robot_namespace)_base_link_to_camera_front" type="fixed">
    <parent link="$(arg robot_namespace)/base_link" />
    <child link="$(arg robot_namespace)/camera_front" />
    <origin rpy="1.57 0.0 1.2" xyz="0.38 0.1 -0.06" />
  </joint>


</robot>
