<?xml version="1.0"?>
<robot name="girona500" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Arguments -->
  <!--
    The robot_namespace argument has to be set mandatory by the user when calling the xacro
    file or using the following line to set it as default.
    <xacro:arg name="robot_namespace" default="girona500"/>
  -->
  <xacro:arg name="robot_xacro" default="$(find girona500_description)/urdf/core.urdf.xacro"/>
  <!-- Load basic girona500 urdf -->
  <xacro:include filename="$(arg robot_xacro)"/>

  <!-- Include manipulators -->
  <xacro:include
    filename="$(find blueprintlab_reachbravo7_manipulator_description)/urdf/bravo7_macro.urdf.xacro"/>
  <!-- Include end-effectors -->
  <!-- <xacro:include
    filename="$(find blueprintlab_reachbravo7_manipulator_description)/urdf/end_effectors/jaws_macro.urdf.xacro"/> -->
  <xacro:include
    filename="$(find blueprintlab_reachbravo7_manipulator_description)/urdf/end_effectors/gripper_macro.urdf.xacro"/>

  <!-- Add manipulators-->
  <xacro:reach_bravo7 prefix="girona500/bravo" link6_lowlimit="-3.1416" link6_uplimit="3.14"/>
  
  <!-- Add payload to girona-->
  <link name="girona500/payload">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://girona500_description/meshes/cylinder_payload.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://girona500_description/meshes/cylinder_payload.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>

   <!-- Add zed to girona-->
   <link name="girona500/zedm/base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://girona500_description/meshes/zedm_cylinder.dae" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://girona500_description/meshes/zedm_cylinder.dae" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
  

  <!-- Attach manipulator and payload to base -->
  <joint name="girona500_to_bravo" type="fixed">
    <parent link="girona500/base_link"/>
    <child link="girona500/bravo/base_link"/>
    <origin rpy="${pi} 0.0 0.0" xyz="0.655 0 0.39"/>
  </joint>
  <!-- <xacro:reach_bravo7_jaws prefix="girona500/bravo"/> -->
  <xacro:reach_bravo7_gripper prefix="girona500/bravo"/>

  <link name="girona500/bravo/gripper/camera"/>
  <joint name="bravo_camera_joint" type="fixed">
    <parent link="girona500/bravo/link6"/>
    <child link="girona500/bravo/gripper/camera"/>
    <origin rpy="0.0 0.0 -1.571" xyz="0 0 ${0.118 + 0.1} "/>
  </joint>
  
  <joint name="payload_joint" type="fixed">
    <parent link="girona500/base_link"/>
    <child link="girona500/payload"/>
    <origin rpy="3.1416 0.0 0.0" xyz="0.11 0.19 0.28 "/>
  </joint>

  <joint name="zedm_joint" type="fixed">
    <parent link="girona500/base_link"/>
    <child link="girona500/zedm/base_link"/>
    <origin rpy="3.1416 0.0 0.0" xyz="0.33 0.20 0.28 "/>
  </joint>
  
  <link name="girona500/front_camera/camera"/>
  <joint name="front_camera" type="fixed">
    <parent link="girona500/base_link"/>
    <child link="girona500/front_camera/camera"/>
    <origin rpy="1.57 0.0 1.57" xyz="0.35 -0.06 0.11 "/>
  </joint>
  
  <link name="girona500/bravo/gripper"/>
  <joint name="bravo_gripper" type="fixed">
    <parent link="girona500/bravo/link6"/>
    <child link="girona500/bravo/gripper"/>
    <origin rpy="-1.57 3.1416 0" xyz="0 0.03 0.2"/>
  </joint>

  <!-- Camera Zed-->
  <link name="$(arg robot_namespace)/zed_camera_link"/> 
  <joint name="$(arg robot_namespace)_girona_to_zed" type="fixed">
    <parent link="$(arg robot_namespace)/base_link" />
    <child link="$(arg robot_namespace)/zed_camera_link" />
    <origin rpy="${pi/4} 0.0 ${pi/2}" xyz="0.46 0.0 0.61" />
  </joint>

  <!-- Camera Zed-->
  <link name="$(arg robot_namespace)/zed_camera_link1"/> 
  <joint name="$(arg robot_namespace)_girona_to_zed_depth" type="fixed">
    <parent link="$(arg robot_namespace)/base_link" />
    <child link="$(arg robot_namespace)/zed_camera_link1" />
    <origin rpy="${pi/4} 0.0 ${pi/2}" xyz="0.46 0.0 0.61" />
  </joint>

  <!-- Camera poster -->
  <link name="$(arg robot_namespace)/camera_poster" />
  <joint name="$(arg robot_namespace)_base_link_to_camera_poster" type="fixed">
    <parent link="$(arg robot_namespace)/base_link" />
    <child link="$(arg robot_namespace)/camera_poster" />
    <origin rpy="0.0 0.0 1.57" xyz="0.2 0.0 0.55" />
  </joint>


</robot>
