<?xml version="1.0"?>
<robot name="girona1000" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_namespace" default="girona1000" />
  <xacro:arg name="bravo_left_namespace" default="$(arg robot_namespace)/bravo_left" />
  <xacro:arg name="bravo_right_namespace" default="$(arg robot_namespace)/bravo_right" />

  <!-- Include Girona1000 -->
  <xacro:include filename="$(find girona1000_description)/urdf/girona1000_intervention.urdf.xacro" />
  <xacro:girona1000 ns="$(arg robot_namespace)" />
  
  <!-- Stereo -->
  <link name="$(arg robot_namespace)/xiroi/stereo_ch3/left_optical" />
  <joint name="$(arg robot_namespace)_origin_to_stereo_left_optical" type="fixed">
    <parent link="$(arg robot_namespace)/origin" />
    <child link="$(arg robot_namespace)/xiroi/stereo_ch3/left_optical" />
    <origin rpy="0 0 ${pi/2}" xyz="0.2 -0.048 0.76" />
  </joint>

  <link name="$(arg robot_namespace)/xiroi/stereo_ch3/right_optical" />
  <joint name="$(arg robot_namespace)_origin_to_stereo_right_optical" type="fixed">
    <parent link="$(arg robot_namespace)/origin" />
    <child link="$(arg robot_namespace)/xiroi/stereo_ch3/right_optical" />
    <origin rpy="0 0 ${pi/2}" xyz="0.2 0.048 0.76" />
  </joint>


  <!-- Include manipulators -->
  <xacro:include
    filename="$(find blueprintlab_reachbravo7_manipulator_description)/urdf/bravo7_macro.urdf.xacro" />
  <!-- Include end-effectors -->
  <xacro:include
    filename="$(find blueprintlab_reachbravo7_manipulator_description)/urdf/end_effectors/jaws_macro.urdf.xacro" />


  <!-- Add manipulators-->
  <xacro:reach_bravo7 prefix="$(arg bravo_left_namespace)" />
  <xacro:reach_bravo7 prefix="$(arg bravo_right_namespace)" />

  <!-- Attach manipulator to base -->
  <joint name="girona1000_to_bravo_left" type="fixed">
    <parent link="$(arg robot_namespace)/origin" />
    <child link="$(arg bravo_left_namespace)/base_link" />
    <origin rpy="${pi} 0.0 -0.175" xyz="0.7322 -0.1382 0.485" />
  </joint>

  <joint name="girona1000_to_bravo_right" type="fixed">
    <parent link="$(arg robot_namespace)/origin" />
    <child link="$(arg bravo_right_namespace)/base_link" />
    <origin rpy="${pi} 0.0 0.175" xyz="0.7322 0.1382 0.485" />
  </joint>

  <xacro:reach_bravo7_jaws prefix="$(arg bravo_left_namespace)" />
  <xacro:reach_bravo7_jaws prefix="$(arg bravo_right_namespace)" />

  <!-- Camera -->
  <link name="$(arg robot_namespace)/camera_front" />
  <joint name="$(arg robot_namespace)_base_link_to_camera_front" type="fixed">
    <parent link="$(arg robot_namespace)/base_link" />
    <child link="$(arg robot_namespace)/camera_front" />
    <origin rpy="1.57 0.0 1.2" xyz="0.38 0.1 -0.06" />
  </joint>


</robot>